<template>
  <div>
    <button>import bookmarks</button>
    <p>{{ cache }}</p>
    
  </div>
</template>

<script>
export default {
  name: 'Home',
  data() {
    return {
      ...this.mapData({
        cache: 'bookmark/cache'
      })
    }
  }
}
</script>

<style lang="scss" scoped>

</style>