<template>
  <div id="app">
    <Home/>
  </div>
</template>

<script>
import Home from './Screens/Home';

export default {
  components: {
    Home
  }
}
</script>

<style>
#app {
  font-family: 'Avenir', Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: white;
  background: rgb(10, 10, 10);
  height: 100%;
}

#nav {
  padding: 30px;
}

html,
body {
  height: 100%;
}

* {
  padding: 0;
  margin: 0;
}

</style>
